{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FocusBox{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <main>
        {% block navbar %}{% endblock %}
        {% block content %}
        {% endblock %}
    </main>

    {% block script %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>
